# Pandas Test Notebook
- For Columnclasses script

In [5]:
import pandas as pd
import numpy as np

In [6]:
# average line length
# average token count
# average token length
# percent chars digit
# percent chars alpha
# percent chars whitespace
# percent chars other
# unique char count
# unique token count

- Output formats of the json are in the output of this cell

In [9]:
df = pd.read_cs`v('./Copy_of_4_3_19_-_Sheet1.csv')
_df = pd.DataFrame()
_cols = ['a','b']

display(df.head())
# print(df.describe())



cols = df.columns.tolist()
# df[cols[0]+"x"] = df[]

def count_digits(s):
    return sum(c.isdigit() for c in s)

def count_letters(s):
    return sum(c.isalpha() for c in s)

def count_spaces(s):
    return sum(c.isspace() for c in s)

def count_other_text(s):
    return len(s) - count_digits(s) - count_letters(s) - count_spaces(s)

def frac_fxn(fxn, rows):
    s=0
    return np.sum([fxn(str(s)) for s in rows])/np.sum([len(str(s)) for s in rows])
     
    
# avg of char length of field
# df2 = df.apply(lambda rows: np.mean([len(str(i)) for i in rows]))


_df['mean_token_count'] = df.apply(lambda rows: np.mean([len(str(s).split()) for s in rows]))
_df['mean_token_length'] = df.apply(lambda rows: np.mean( [len(i.split()) for s in rows for i in str(s) ]   ))

_df['frac_digit'] = df.apply(lambda rows: frac_fxn(count_digits,rows))
_df['frac_alpha'] = df.apply(lambda rows: frac_fxn(count_letters,rows))
_df['frac_space'] = df.apply(lambda rows: frac_fxn(count_spaces,rows))
_df['frac_other_text'] = df.apply(lambda rows: frac_fxn(count_other_text,rows))

_df['mean_line_length'] = df.apply(lambda rows: np.mean([len(str(s)) for s in rows]))
_df['median_line_length'] = df.apply(lambda rows: np.median([len(str(s)) for s in rows]))
_df['std_line_length'] = df.apply(lambda rows: np.std([len(str(s)) for s in rows]))

_df['unq_char_count'] = df.apply(lambda rows: len(set([i for s in rows for i in str(s)])))
_df['unq_token_count'] = df.apply(lambda rows: len(set([str(s) for s in rows])))

# _df['row_count'] = df.apply(lambda rows: len(rows))

_df.head(10)

print(_df.transpose().to_json())
_df.to_json()

    Deborah Pirruccello      636 Wilbur Court      Gurnee  IL  60031
0     Karen       Brown        6 Worden Court   Annapolis  MD  21401
1  Nicoleta      Tripon  1025 Amber Knoll Dr.    Rockwall  TX  75087
2     Sally      Knight     27650 N. 72nd Pl.  Scottsdale  AZ  85266
3    Joseph       Baker      2016 N. Glenview        Mesa  AZ  85213
4     Linda      Kelley    1605 W. Barrow Dr.    Chandler  AZ  85224

{"Deborah":{"mean_token_count":1.0350877193,"mean_token_length":0.9943502825,"frac_digit":0.0,"frac_alpha":0.9943502825,"frac_space":0.0056497175,"frac_other_text":0.0,"mean_line_length":6.2105263158,"median_line_length":6.0,"std_line_length":1.4109452114,"unq_char_count":40.0,"unq_token_count":51.0},"Pirruccello":{"mean_token_count":1.0,"mean_token_length":1.0,"frac_digit":0.0,"frac_alpha":0.9922680412,"frac_space":0.0,"frac_other_text":0.0077319588,"mean_line_length":6.8070175439,"median_line_length":6.0,"std_line_length":2.282185752,"unq_char_count":48.0,"unq_token_count":54.0},"636 Wilbur Court":{"mean_token_count":4.1754385965,"mean_token_length":0.8403880071,"frac_digit":0.2425044092,"frac_alpha":0.5202821869,"frac_space":0.1596119929,"frac_other_text":0.0776014109,"mean_line_length":19.8947368421,"median_line_length":19.0,"std_line_length":4.8147587815,"unq_char_count":60.0,"unq_token_count":57.0},"Gurnee":{"mean_token_count":1.1929824561,"mean_token_length":0.9771784232,"frac_digit":0.0,"frac_alpha":0.9771784232,"frac_space":0.0228215768,"frac_other_text":0.0,"mean_line_length":8.4561403509,"median_line_length":8.0,"std_line_length":2.5620042554,"unq_char_count":39.0,"unq_token_count":32.0},"IL":{"mean_token_count":1.0,"mean_token_length":1.0,"frac_digit":0.0,"frac_alpha":1.0,"frac_space":0.0,"frac_other_text":0.0,"mean_line_length":2.0,"median_line_length":2.0,"std_line_length":0.0,"unq_char_count":15.0,"unq_token_count":10.0},"60031":{"mean_token_count":1.0,"mean_token_length":1.0,"frac_digit":1.0,"frac_alpha":0.0,"frac_space":0.0,"frac_other_text":0.0,"mean_line_length":5.0,"median_line_length":5.0,"std_line_length":0.0,"unq_char_count":10.0,"unq_token_count":52.0}}

'{"mean_token_count":{"Deborah":1.0350877193,"Pirruccello":1.0,"636 Wilbur Court":4.1754385965,"Gurnee":1.1929824561,"IL":1.0,"60031":1.0},"mean_token_length":{"Deborah":0.9943502825,"Pirruccello":1.0,"636 Wilbur Court":0.8403880071,"Gurnee":0.9771784232,"IL":1.0,"60031":1.0},"frac_digit":{"Deborah":0.0,"Pirruccello":0.0,"636 Wilbur Court":0.2425044092,"Gurnee":0.0,"IL":0.0,"60031":1.0},"frac_alpha":{"Deborah":0.9943502825,"Pirruccello":0.9922680412,"636 Wilbur Court":0.5202821869,"Gurnee":0.9771784232,"IL":1.0,"60031":0.0},"frac_space":{"Deborah":0.0056497175,"Pirruccello":0.0,"636 Wilbur Court":0.1596119929,"Gurnee":0.0228215768,"IL":0.0,"60031":0.0},"frac_other_text":{"Deborah":0.0,"Pirruccello":0.0077319588,"636 Wilbur Court":0.0776014109,"Gurnee":0.0,"IL":0.0,"60031":0.0},"mean_line_length":{"Deborah":6.2105263158,"Pirruccello":6.8070175439,"636 Wilbur Court":19.8947368421,"Gurnee":8.4561403509,"IL":2.0,"60031":5.0},"median_line_length":{"Deborah":6.0,"Pirruccello":6.0,"636 Wilbur Court":19.0,"Gurnee":8.0,"IL":2.0,"60031":5.0},"std_line_length":{"Deborah":1.4109452114,"Pirruccello":2.282185752,"636 Wilbur Court":4.8147587815,"Gurnee":2.5620042554,"IL":0.0,"60031":0.0},"unq_char_count":{"Deborah":40,"Pirruccello":48,"636 Wilbur Court":60,"Gurnee":39,"IL":15,"60031":10},"unq_token_count":{"Deborah":51,"Pirruccello":54,"636 Wilbur Court":57,"Gurnee":32,"IL":10,"60031":52}}'

{"columns": [
  {
    "main": "Classifier.label",
    "sub": "Classifier.label",
    "label": "".join([sub, main]),
    "features": { "key": "value", ... },
  }
]}